{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <script src="{% static 'js/base.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% block script %} {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>{% block title %}Conference System{% endblock %}</title>
</head>
<body id="body-pd">
<header class="header" id="header">
    <div class="header_toggle"><i class='bx bx-menu' id="header-toggle"></i></div>
    <div class="header_img"><a href="{% url 'user_profile' %}">
        {% if user.is_authenticated %}
        <a href="{% url 'user_profile' %}">
            <img src="https://i.imgur.com/hczKIze.jpg" alt="">
        </a>
        {% else %}
        <a href="{% url 'login' %}">
            <img src="https://i.imgur.com/hczKIze.jpg" alt="">
        </a>
        {% endif %}
    </div>
</header>
<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div><a href="{% url 'home' %}" class="nav_logo"> <i class='bx bx-home-alt-2 nav_logo-icon'></i> <span
                class="nav_logo-name"> main Conference</span> </a>
            <div class="nav_list"><a href="{% url 'conference_list' %}" class="nav_link active"> <i
                    class='bx bx-book-alt nav_icon'></i> <span class="nav_name">Conference</span> </a> <a
                    href="{% url 'article_list' %}" class="nav_link"> <i class='bx bx-paper-plane nav_icon'></i> <span
                    class="nav_name">Articles</span> </a> <a
                    href="{% url 'conference_create' %}" class="nav_link"> <i class='bx bx-message-square-detail nav_icon'></i> <span
                    class="nav_name">Conference create</span> </a>  <a
                    href="{% url 'conference_create' %}" class="nav_link"> <i class='bx bx-bookmark nav_icon'></i> <span
                    class="nav_name">запас</span> </a> <a href="#" class="nav_link"> <i
                    class='bx bx-folder nav_icon'></i> <span class="nav_name">запас</span> </a> <a href="#"
                                                                                                   class="nav_link"> <i
                    class='bx bx-bar-chart-alt-2 nav_icon'></i> <span class="nav_name">запас</span> </a></div>
        </div>
        <a href="{% url 'logout' %}" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">SignOut</span>
        </a>
    </nav>
</div>
{% block content %}
<!--Container Main start-->
{% endblock %}
</div>
<!--Container Main end-->
</body>
</html>
