body{
	background-color: #eee;
}
.user-profile{
	background-color: #fff;
	width: 280px;
	border-radius: 33px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 2rem !important;
}
.top-container{
	display: flex;
	align-items: center;
}
.profile-image{
	border-radius: 10px;
	border: 2px solid #5957f9;
}
.name{
	font-size: 15px;
	font-weight: bold;
	color: #272727;
	position: relative;
	top: 8px;
}
.mail{
	font-size: 14px;
	color: grey;
	position: relative;
	top: 2px;
}
.middle-container{
	background-color: #eee;
	border-radius: 12px;

}
.middle-container:hover {
	border: 1px solid #5957f9;
}
.dollar-div{
	background-color: #5957f9;
	padding: 12px;
	border-radius: 10px;
}
.round-div{
	border-radius: 50%;
	width: 35px;
	height: 35px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.dollar{
	font-size: 16px !important;
	color: #5957f9 !important;
	font-weight: bold !important;
}


.current-balance{
	font-size: 15px;
	color: #272727;
	font-weight: bold;
}
.amount{
	color: #5957f9;
	font-size: 16px;
	font-weight: bold;
}
.dollar-sign{
	font-size: 16px;
	color: #272727;
	font-weight: bold;
}

.conference-section{
	border-left: 2px solid #5957f9;
	display: flex;
	align-items: center;

}
.conference-section:hover {
	border-bottom: 1px solid #dee2e6!important;
}

.my-conference{
	font-size: 16px;
	font-weight: 700;
	color: #5957f9;
	margin-left: 2px;
}

.my-articles{
	font-size: 16px;
	font-weight: 700;
	color: #272727;

}
.articles-section:hover{
	border-bottom: 1px solid #dee2e6!important;
}
.articles-check3{
	font-size: 16px;
	font-weight: 700;
	color: #272727;
}
.articles-check3:hover {
	border-bottom: 1px solid #dee2e6!important;
}
.show {
    display: block !important;
}
.conference-list {
    display: none;
}
.conference-list {
    display: none;
}
.articles-list {
    display: none;
}
.articles-check-list {
    display: none;
}