{% extends 'conference/base_conference.html' %}

{% block title %}Edit Conference{% endblock %}

{% block content %}
    <h1>Edit Conference</h1>

    <h2>Edit Conference</h2>
    <!-- Форма редактирования научной статьи -->
    <form method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Вставляем поля формы с помощью шаблонных тегов Django -->
        {{ form.as_p }}
        <button type="submit">edit</button>
    </form>
{% endblock %}
