{% extends 'conference/base_conference.html' %}

{% block title %}Delete Conference{% endblock %}

{% block content %}
    <h1>Delete Conference</h1>

    <h2>Delete Conference</h2>
    <p>Are you sure you want to delete the Conference "{{ conference.title }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirm Delete</button>
    </form>
{% endblock %}
