{% extends 'conference/base_conference.html' %}

{% block title %}Conference Details{% endblock %}

{% block content %}
<h1>{{ conference.title }}</h1>

<h2>{{ conference.title }}</h2>
<p><strong>Начало:</strong> {{ conference.start_date }}</p>
<p><strong>Конец:</strong> {{ conference.end_date }}</p>
<p><strong>Локация:</strong> {{ conference.location }}</p>
<p><strong>Программа:</strong> {{ conference.program }}</p>
<p><strong>Topic:</strong> {{ conference.topic }}</p>
<p><strong>Описание:</strong> {{ conference.description }}</p>
<p><strong>Правила подачи:</strong> {{ conference.submission_rules }}</p>
<p><strong>Шаблон:</strong> <a href="{{ conference.base_template.url }}">{{ conference.base_template.name }}</a>
<a href="{{ conference.base_template.url }}" download>
    <button>Скачать</button>
</a>
</p>
<p><strong>Статус:</strong> {{ conference.status }}</p>
<p><strong>Редакторы:</strong>
    {% for editor in conference.editors.all %}
    {{ editor.full_name }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
</p>
<p><strong>Участники:</strong>
    {% for participant in conference.participants.all %}
    {{ participant.full_name }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
</p>
<h2>Статьи конференции "{{ conference.title }}"</h2>
<ul>
{% for article in articles  %}
    <li><a href="{% url 'article_detail' pk=article.id %}">{{ article.title }}</a></li>
{% endfor %}
</ul>

<h2>Расписание</h2>
<a href="{% url 'conference_schedule' conference.id %}">Посмотреть расписание</a>


{% if request.user in conference.editors.all %}
    <a href="{% url 'conference_edit' pk=conference.pk %}">Изменить конференцию</a>
    <a href="{% url 'conference_delete' pk=conference.pk %}">Удалить конференцию</a>
    <a href="{% url 'generate_time_slots' conference.id %}">Генерация временных слотов</a>
    <a href="{% url 'create_time_slot' conference.id %}">Добавить временной слот</a>
{% endif %}
{% if request.user in conference.participants.all %}
    <a href="{% url 'article_create' conference_id=conference.id %}">Создать статью</a>
{% endif %}
{% endblock %}
