{% extends 'conference/base_conference.html' %}

{% block content %}
    <h1>Create Conference</h1>

    <h2>Create Conference</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Название:</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="start_date">Дата и время начала (ГГГГ-ММ-ДДТЧЧ:ММ):</label>
            <input type="datetime-local" class="form-control" id="start_date" name="start_date" placeholder="2000-00-00" required>
        </div>
        <div class="form-group">
            <label for="end_date">Дата и время окончания (ГГГГ-ММ-ДДТЧЧ:ММ):</label>
            <input type="datetime-local" class="form-control" id="end_date" name="end_date" placeholder="ГГГГ-ММ-ДДТЧЧ:ММ" required>
        </div>
        <div class="form-group">
            <label for="location">Место проведения:</label>
            <input type="text" class="form-control" id="location" name="location" required>
        </div>
        <div class="form-group">
            <label for="program">Программа конференции:</label>
            <textarea class="form-control" id="program" name="program" rows="3" required></textarea>
        </div>
        <div class="form-group">
            <label for="topic">Тематика и область конференции:</label>
            <input type="text" class="form-control" id="topic" name="topic" required>
        </div>
        <div class="form-group">
            <label for="description">Описание конференции:</label>
            <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
        </div>
        <div class="form-group">
            <label for="submission_rules">Правила подачи и форматы работы:</label>
            <textarea class="form-control" id="submission_rules" name="submission_rules" rows="3" required></textarea>
        </div>
        <div class="form-group">
            <label for="base_template">Latex template:</label>
            <input type="file" class="form-control-file" id="base_template" name="base_template">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
        <div class="form-group">
            <label for="editors">Редакторы:</label>
            <select class="form-control" id="editors" name="editors" multiple>
                {% for participant in participants %}
                    <option value="{{ participant.id }}">{{ participant.full_name }}</option>
                {% endfor %}
            </select>
        </div>
                <div class="form-group">
            <label for="editors">Участники:</label>
            <select class="form-control" id="participants" name="editors" multiple>
                {% for participant in participants %}
                    <option value="{{ participant.id }}">{{ participant.full_name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
{% endblock %}
