{% extends 'base.html' %}
 {% block script %}
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js'></script>
   {% endblock %}
{% block title %}Conference Schedule{% endblock %}

{% block content %}
<h1>Расписание конференции: {{ conference.title }}</h1>
<h1><a href="{% url 'conference_detail' pk=conference.id %}"> {{ conference.title }}</a></h1>



<div id="calendar"></div>

<a href="{% url 'create_time_slot' conference.id %}" class="btn btn-primary">Добавить временной слот</a>
<a href="{% url 'add_article_to_slot' conference.id %}" class="btn btn-secondary">Добавить статью к слоту</a>
<a href="{% url 'generate_time_slots' conference.id %}" class="btn btn-secondary">Генерация временных слотов</a>
<a href="{% url 'distribute_schedule' conference.id %}" class="btn btn-primary">Распределить статьи</a>

<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css' rel='stylesheet' />
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js'></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: ''
        },
        validRange: {
            start: '{{ conference.start_date|date:"Y-m-d" }}',
            end: '{{ conference.end_date|date:"Y-m-d" }}'
        },
        visibleRange: function(currentDate) {
            return {
                start: '{{ conference.start_date|date:"Y-m-d" }}',
                end: '{{ conference.end_date|date:"Y-m-d" }}'
            };
        },
        dayHeaderFormat: { weekday: 'long' },
        events: function(fetchInfo, successCallback, failureCallback) {
            fetch('/conferences/{{ conference.id }}/schedule/', {
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.json())
            .then(data => successCallback(data))
            .catch(error => failureCallback(error));
        },
        eventClick: function(info) {
            alert('Slot: ' + info.event.title);
        }
    });

    calendar.render();
});
</script>
{% endblock %}