{% extends 'conference/base_conference.html' %}

{% block title %}Articles for {{ conference.title }}{% endblock %}

{% block content %}
    <h2>Articles for {{ conference.title }}</h2>
    <ul>
        {% for article in articles %}
            <li><a href="{% url 'article_detail' article.pk %}">{{ article.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
