{% extends 'conference/base_conference.html' %}

{% block title %}Conference List{% endblock %}

{% block content %}
<h1>Conference List</h1>

<h2>Conference List</h2>
<ul>
    {% for conference in conferences %}
    <li><a href="{% url 'conference_detail' conference.pk %}">{{ conference.title }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
