{% extends 'conference/base_conference.html' %}

{% block title %}Conference List{% endblock %}

{% block content %}
   <h1>{{ conference.title }}</h1>
    <p>{{ conference.description }}</p>
    <p>{{ message }}</p>
{% endblock %}
