<!-- Ваш файл upload_template.html -->
{% extends 'conference/base_conference.html' %}

{% block content %}
<h1>Загрузка базового шаблона для конференции "{{ conference.title }}"</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Загрузить</button>
</form>
{% endblock %}
