{% extends 'base.html' %}

{% block title %}Article List{% endblock %}

{% block content %}
<h1>Article List</h1>

<h2>Article List</h2>
<ul>
    {% for article in articles %}
    <li><a href="{% url 'article_detail' article.pk %}">{{ article.title }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
