{% extends 'article/base_article.html' %}

{% block title %}Edit Article{% endblock %}

{% block content %}
    <h1>Edit Article</h1>

    <h2>Create Article</h2>
    <!-- Форма редактирования научной статьи -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Вставляем поля формы с помощью шаблонных тегов Django -->
        {{ form.as_p }}
        <button type="submit">Создать</button>
    </form>
{% endblock %}
