{% extends 'article/base_article.html' %}

{% block title %}Article Details{% endblock %}

{% block content %}
<h1>{{ article.title }}</h1>

<h2>{{ article.title }}</h2>
<p><strong>Конференция:</strong> <a href="{% url 'conference_detail' article.conference.pk %}">{{ article.conference.title }}</a></p>
<p><strong>Авторы:</strong>
    {% for author in article.authors.all %}
    {{ author.full_name }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
</p>
<p><strong>Аннотация:</strong> {{ article.abstract }}</p>
<p><strong>Текст статьи:</strong> {{ article.text }}</p>
<p><strong>Статус:</strong> {{ article.status }}</p>
<p><strong>Рецензия:</strong> {{ article.error_comments }}</p>
<p><strong>Предпочитаемое время:</strong>
   {% for slot in article.preferred_time_slots.all %}
        {{ slot.start_time }} - {{ slot.end_time }}{% if not forloop.last %}, {% endif %}
    {% empty %}
        <p>No preferred time slots.</p>
    {% endfor %}
</p>
</p><p><strong>Файл шаблона:</strong> <a href="{{ article.article_file.url }}">{{ article.article_file.name }}</a>
<a href="{{ article.article_file.url }}" download>
    <button class="btn btn-primary">Скачать</button>
</a>
</p>
{% if user in article.authors.all %}
<a href="{% url 'article_edit' article.pk %}">Изменить статью</a>
<a href="{% url 'article_delete' article.pk %}">Удалить статью</a>

{% endif %}
{% if is_editor %}
<form action="{% url 'edit-comment' article.pk %}" >
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Провести рецензию</button>
    </form>
{% endif %}
{% block comment %} {% endblock %}
{% endblock %}
