{% extends 'article/base_article.html' %}

{% block title %}Delete Article{% endblock %}

{% block content %}
    <h1>Delete Article</h1>

    <h2>Delete Article</h2>
    <p>Are you sure you want to delete the article "{{ article.title }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirm Delete</button>
    </form>
{% endblock %}
