{% extends 'article/article_detail.html' %}

{% block comment %}
<h2>Изменить комментарий ддля {{ article.title }}</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
{% endblock %}