{% extends 'base.html' %}

{% block title %}Add Time Slot{% endblock %}

{% block content %}
<h1>Add Time Slot for {{ conference.title }}</h1>

<h2>Add Time Slot for {{ conference.title }}</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}
