{% extends 'base.html' %}

{% block content %}
<h1>Расписание конференции: {{ conference.title }}</h1>
<h2>Расписание конференции: {{ conference.title }}</h2>
<table>
    <thead>
        <tr>
            <th>Время</th>
            <th>Название статьи</th>
            <th>Авторы</th>
        </tr>
    </thead>
    <tbody>
        {% for session in conference.time_slots.all %}
        <tr>
            <td>{{ session.start_time }} - {{ session.end_time }}</td>
            <td>{{ session.article_sessions.first.article.title }}</td>
            <td>
                {% for author in session.article_sessions.first.article.authors.all %}
                    {{ author.full_name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
