{% extends 'base.html' %}

{% block title %}Distribute Schedule{% endblock %}

{% block content %}
<h1>Distribute Schedule for {{ conference.title }}</h1>

{% if conflict_articles %}
    <h2>Conflicting Articles</h2>
    <p>The following articles couldn't be assigned to their preferred time slots:</p>
    <ul>
    {% for article in conflict_articles %}
        <li>{{ article.title }} by 
            {% for author in article.authors.all %}
                {{ author.full_name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>All articles were successfully assigned to their preferred time slots.</p>
{% endif %}

<a href="{% url 'conference_detail' conference.id %}">Back to Conference Details</a>
{% endblock %}
