{% extends 'base.html' %}

{% block title %}Generate Time Slots{% endblock %}

{% block content %}
<h1>Generate Time Slots for {{ conference.title }}</h1>
<h2>Генерация временных слотов для "{{ conference.title }}"</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Generate</button>
</form>
{% endblock %}
