{% extends 'base.html' %}
{% block title %}Вход{% endblock %}
{% block content %}
    <h1>Вход</h1>

    <h1>Вход</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <div style="display: flex; align-items: center;">
            <button class="btn btn-primary">Войти</button>
            <span style="margin-left: 10px;">Еще нет аккаунта?</span>
            <a href="{% url 'register' %}" style="margin-left: 5px;">Зарегистрируйтесь</a>
        </div>


{% endblock %}
