{% extends 'base.html' %}

{% block content %}
<h1>Регистрация</h1>
<h2>Регистрация</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"  class="btn btn-primary">Регистрация</button>
</form>
{% endblock %}