{% extends 'base.html' %}
{% block script %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $(".my-conference").click(function(){
            $(".conference-list").toggleClass("show");
        });
        $(".my-articles").click(function(){
            $(".articles-list").toggleClass("show");
        });
        $(".articles-check").click(function(){
            $(".articles-check-list").toggleClass("show");
        });
    });
</script>
{% endblock %}

{% block title %}Профиль{% endblock %}
{% block content %}
<h1>Зааглушка!</h1>

<div class="container d-flex justify-content-center mt-5">

    <div class="user-profile">

        <div class="top-container">

            <img src="https://i.imgur.com/G1pXs7D.jpg" class="profile-image" width="70">

            <div class="profile-info">
                <h5 class="name">{{ user.username }}</h5>
                <p class="mail">{{ user.full_name }}</p>
                <p class="mail">{{ user.affiliation }}</p>

            </div>
        </div>


        <div class="conference-section mt-4">
            <span class="my-conference">Мои конференции</span>
        </div>
        <!-- Добавляем список конференций -->
        <div class="conference-list">
            <ul class="conference-list">
                {% for conference in conferences %}
                <a href="{% url 'conference_detail' pk=conference.id %}">{{ conference.title }}</a><br>
                {% endfor %}
            </ul>
        </div>

        <div class="articles-section mt-4">
            <span class="my-articles">Мои статьи</span>
        </div>
        <!-- Добавляем список статей -->
        <div class="articles-list">
            <ul class="articles-list">
                {% for article in articles %}
                <a href="{% url 'article_detail' pk=article.id %}">{{ article.title }}</a><br>
                {% endfor %}
            </ul>
        </div>

        <div class="articles-check3 pt-2">
            <span class="articles-check">Статьи на проверку</span>
            <ul class="articles-check-list">
                {% for article in review_articles %}
                    <a href="{% url 'article_detail' pk=article.id %}">{{ article.title }}</a><br>
                {% endfor %}
            </ul>
        </div>

    </div>

</div>
{% endblock %}
